<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDgH5AmBC1pyn6Gqyl4c_1PYN3zfOPPeyk</string>
	<key>GCM_SENDER_ID</key>
	<string>807100777566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>personal.Pirouette</string>
	<key>PROJECT_ID</key>
	<string>pirouette-9640a</string>
	<key>STORAGE_BUCKET</key>
	<string>pirouette-9640a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807100777566:ios:6d6e4a668a3073350ea0cf</string>
</dict>
</plist>